<h1>Contacto</h1>

<div id="texto" #textos>
  <p [appResaltado]>Esta es la página de contacto puedes enviarnos cualquier dudas</p>
</div>

<!-- <input type="number" [(ngModel)]="widthSlider"  />

<button (click)="cargarSlider()">Cargar</button>
<button (click)="resetSlider()">Reset slider</button>

<div *ngIf="autor">
  <h2>Autor</h2>
  <p>
    Nombre: {{autor.nombre}}
  </p>
  <p>
    Web: {{autor.web}}
  </p>
  <p>
    LinkedIn: {{autor.linkedIn}}
  </p>
</div>

<div *ngIf="anchuraToSlider">
  <app-slider [width]="anchuraToSlider" [name]="name" (conseguirAutor)="recogerAutor($event)"></app-slider>
</div> -->
