* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix {
  float: none;
  clear: both;
}

#global {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  background: white;
  padding: 25px;
  box-shadow: 0px 0px 2px #ccc;
}

#logo {
  font-family: "Verdana", "Arial";
  font-size: 26px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  width: 389px;
  height: 80px;
  float: left;
  margin-bottom: 20px;
  line-height: 75px;
  text-transform: uppercase;
}

#menu {
  font-family: Helvetica, Arial;
  background: #333;
  width: 100%;
  text-transform: uppercase;
}

#menu ul {
  line-height: 46px;
}

#menu ul li {
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

#content {
  margin-top: 10px;
}

#posts {
  width: 60%;
  float: left;
  font-family: Helvetica, Arial;
}

.post {
  padding: 10px;
}

h2 {
  font-size: 30px;
  color: #333;
}

.post .date {
  color: gray;
  margin-top: 5px;
  display: block;
}

.post p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: justify;
}

.button-more {
  padding: 15px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  display: block;
  width: 70px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

#sidebar {
  font-family: Helvetica, Arial;
  width: 31%;
  float: right;
}

#sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url(../img/lines.png) repeat-x;
}
#sidebar h4 span {
  background: white;
  padding: 5px;
}

#sidebar img {
  width: 100%;
}

#sidebar p {
  font-size: 15px;
  text-align: justify;
}

form label {
  display: block;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="email"],
select {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px gray;
  margin-top: 5px;
}

form input[type="submit"] {
  background: #ccc;
  padding: 10px;
  border: 1px solid gray;
  color: #333;
  cursor: pointer;
}

footer {
  font-family: Helvetica, Arial;
  color: white;
  height: 47px;
  background: rgba(51, 51, 51, 0.7);
  margin: 0 auto;
  width: 65.87%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  line-height: 47px;
}

.bx-wrapper .bx-viewport {
  height: 300px !important;
}

#selector-theme {
  position: fixed;
  top: 40%;
  background: rgba(51, 51, 51, 0.5);
  height: 115px;
  width: 50px;
}

#to-green,
#to-red,
#to-blue {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  cursor: pointer;
}

#to-green {
  background: #235e3d;
}

#to-red {
  background: #ca3413;
}

#to-blue {
  background: #1f87c4;
}

.subir {
  color: white;
  text-decoration: none;
  display: block;
  float: right;
}

#box {
  width: 60%;
  float: left;
  margin-top: 40px;
}

#acordeon {
  margin-top: 20px;
}

/* #acordeon h3{
  background-color: red;
} */

#reloj {
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica Arial;
  color: #333;
  border: 5px dashed #333;
  width: 30%;
  padding: 30px;
  margin: 0 auto;
}

#form-contact{
  width: 60%;
}

#form-contact input[type="submit"]{ 
  display: block;
}