<strong>Tamaño del slider: {{ anchura }}</strong>
<p>
  {{nombre}}
</p>
<div class="slider">
  <div>
    <img
      src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6ZAlQrGYxXi8Bo8PuhJd5g/206c57ecb27e58b4555089c6c80d3db5/ACV_meta.png"
      alt=""
    />
    I am a slide.
  </div>
  <div>
    <img
      src="https://phantom-marca.unidadeditorial.es/512e542e1215b2b008997bab963ccc74/resize/1320/f/jpg/assets/multimedia/imagenes/2020/11/11/16051324587434.jpg"
      alt=""
    />
    I am another slide.
  </div>
</div>
<button (click)="lanzar()">Obtener autor</button>
